* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --color-primary: #cf1d16;
  --color-primary-light: #d33e34;
  --color-white: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: ##262626;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

@media screen and (max-width: 700px) {
  .header-contact {
    display: none;
  }
}

.header-contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-contact-item i {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
}

.header-contact-item p {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
  font-weight: 700;
}
