* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Great Vibes", cursive;
  --color-primary: #cf1d16;
  --color-primary-light: #d33e34;
  --color-white: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: ##262626;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

.header-contact {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

@media screen and (max-width: 700px) {
  .header-contact {
    display: none;
  }
}

.header-contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-contact-item i {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
}

.header-contact-item p {
  color: var(--color-grey-dark);
  font-size: 1.4rem;
  font-weight: 700;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header-logo-link-wrapper {
  text-decoration: none;
  color: var(--color-black-main);
  text-transform: uppercase;
}

.logo {
  font-size: 2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.menu-toggle-button {
  display: none;
}

@media screen and (max-width: 850px) {
  .header-nav-list {
    gap: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .header-navigation {
    align-items: flex-start;
    position: relative;
  }

  .header-nav-list {
    flex-direction: column;
  }

  .header-nav {
    /* background-color: green; */
    position: absolute;
    right: 0;
    top: 100%;
    /* transform: translateX(500px); */
    display: none;
  }

  .menu-toggle-button {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 0.5rem;
  }
}

.header-nav-list-item a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black-main);
  font-weight: 600;
}

.header-cta-btn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
}

/* Hero section stylings */
.hero-section {
  padding: 2rem;
  min-height: 100vh;
  /* height: 100vh; */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.hero-title-sub {
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 10rem;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
}

.hero-title-main {
  text-transform: uppercase;
  font-size: 6rem;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 1.6px;
}

@media screen and (max-width: 40.625em) {
  .hero-title-sub {
    font-size: 8rem;
  }

  .hero-title-main {
    font-size: 3.5rem;
  }
}

.menu-preview {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.menu-preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-preview-image-wrapper {
  --menu-preview-image-wrapper-size: 8rem;
  width: var(--menu-preview-image-wrapper-size);
  height: var(--menu-preview-image-wrapper-size);
}

.menu-preview-image-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  /* border-radius: 50%; */
  clip-path: circle(50% at 50% 50%);
}

.menu-preview-title {
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
}

.menu-preview-description {
  font-size: 1.4rem;
  color: var(--color-grey);
  text-align: center;
}
/* End of hero section stylings */

/* Meal categories section stylings */
.meal-categories {
  padding: 10rem 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--color-white-lighter);
}

.meal-category-item {
  width: 25rem;
}

.meal-category-item img {
  width: 6rem;
  display: block;
  margin: 0 auto;
}

.meal-category-title {
  text-align: center;
  /* margin-block: 1rem; */
  margin: 1rem 0;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-primary-light);
}

.meal-category-description {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-grey-dark);
  font-weight: 500;
  line-height: 2;
}
/* End of meal categories section stylings */
